<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

  <session-config>
      <session-timeout>60</session-timeout>
  </session-config>

  <servlet>
    <servlet-name>DomainStoreJsonServlet</servlet-name>
    <servlet-class>se.datahamstern.domain.DomainStoreJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DomainStoreJsonServlet</servlet-name>
    <url-pattern>/api/domain/json</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>se.datahamstern.ServiceStarter</listener-class>
  </listener>

</web-app>